<?php

/**
 * Kiwa. A feather-light web framework for small but professional static websites.
 *
 * @author Tobias Köngeter
 * @copyright Copyright © Bit&Black
 * @link https://www.bitandblack.com
 * @link https://www.kiwa.io
 * @license MIT
 * 
 *
 * This is your header file — it is included by the index file and contains the first part of our html document.
 * Composers autoload.php is already loaded, so you don't need to include it.
 * Kiwa is also available and provides access through its dependency injection: {@see \Kiwa\DI}
 */

use Kiwa\HTML\JavascriptVariables;
use Kiwa\Language\CurrentLanguageCode;
use Kiwa\Page\PageTitle;
use Kiwa\Page\PageUID;
use Kiwa\Templating\AlternateLinks;
use Kiwa\Templating\Canonicals;
use Kiwa\Templating\JavaScripts;
use Kiwa\Templating\MetaTags;
use Kiwa\Templating\Stylesheets;
use Kiwa\URL\URLBuilder;

?><!DOCTYPE html>
<html lang="<?php echo new CurrentLanguageCode(); ?>">
    <head>
        <meta charset="utf-8">
        <title><?php echo new PageTitle(); ?></title>
        <?php
    
        /** Stylesheets, which have been added from a page. */
        echo new Stylesheets() . PHP_EOL;
    
        /** Our main stylesheet. By creating the URL with the URLBuilder, we can handle versioned file names. */
        ?><link href="<?php echo new URLBuilder(['/build/template.css']); ?>" rel="stylesheet" media="all"><?php
        
        /** Some javascript variables to work with. */
        echo new JavascriptVariables(); 
        
        /** Javascripts, which have been added from a page. */
        echo new JavaScripts() . PHP_EOL;

        /** Our main javascript. By creating the URL with the URLBuilder, we can handle versioned file names. */ 
        ?><script src="<?php echo new URLBuilder(['/build/template.js']); ?>" async></script><?php
    
        /** All meta tags. */
        echo new MetaTags() . PHP_EOL;
    
        /** All canonical links. */
        echo new Canonicals() . PHP_EOL;

        /** All alternate links. */
        echo new AlternateLinks() . PHP_EOL;
        
        /** In case you want to add favicons and other icons, use something like that: */
        //<link rel="apple-touch-icon" sizes="180x180" href="/build/images/apple-touch-icon.png">
        //<link rel="icon" type="image/png" sizes="32x32" href="/build/images/favicon-32x32.png">
        //<link rel="icon" type="image/png" sizes="16x16" href="/build/images/favicon-16x16.png">
        //<link rel="manifest" href="/build/images/site.webmanifest">
        //<link rel="mask-icon" href="/build/images/safari-pinned-tab.svg" color="#0081ae">
        //<link rel="shortcut icon" href="/build/images/favicon.ico">
        //<meta name="msapplication-TileColor" content="#ffffff">
        //<meta name="msapplication-config" content="/build/images/browserconfig.xml">
        //<meta name="theme-color" content="#ffffff">
        //<meta name="apple-mobile-web-app-title" content="My Website">
        /** Think about using the dns-prefetch: */
        //<link rel="dns-prefetch" href="//www.my-often-used-content.com">
        ?>
    </head>
    <body class="<?php echo new PageUID(); ?>">
