<?php

/**
 * Kiwa. A feather-light web framework for small but professional static websites.
 *
 * @author Tobias Köngeter
 * @copyright Copyright © Bit&Black
 * @link https://www.bitandblack.com
 * @link https://www.kiwa.io
 * @license MIT
 * 
 * 
 * This is your index file. It will be loaded when you request the root of your website.
 * Composers autoload.php is already loaded, so you don't need to include it.
 * Kiwa is also available and provides access through its dependency injection: {@see \Kiwa\DI}
 * 
 * Here we include a header file at first. This helps us keep the pages DRY.
 */
require '_header.phtml';

?>
<section>
    <h1>Hello world!</h1>
    <p>This file is located under <code><?php echo __FILE__; ?></code>.</p>
</section>
<?php

/**
 * At the bottom, we include a footer file for the same reason: to keep the document DRY.
 */
require '_footer.phtml';
